extends layout

block content
	div.container

		div.header-container
			div.image-container
				img(src='assets/intel_logo.png')
			h2.muted #{title}.
			div#hacedores-logo.image-container
				img(src='assets/hacedores_logo.png')
		hr

		div.container-fluid
			div.row-fluid
				div.span9
					div.img-polaroid(id="mimapa")
				div.span3

					div.well.sidebar-nav
						ul.nav.nav-list
							li.nav-header(id="gauge")
							li.active(id="gauge1")
							li(id="gauge2")
							li(id="gauge3")
							li(id="gauge4")
